@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Nanum Gothic',Jua, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
  padding: 5px;
}

.sign-up {
  display: grid;
  height: 80vh;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}

.login_container{
  padding-top: 50px;
  width: 380px; 
  height: 360px; 
  border: solid 1px #000;
  border-radius: 3px; 
  margin-bottom: 25px;
}

.form_container{
  width: 300px;
  margin: auto;
}

.form_title_div{
  margin: auto; 
  text-align: center;
}

.form_title_p{
  font-family: 'Jua';
  font-weight: bold; 
  font-size: 22px; 
  display: inline-block; 
  padding-top: 8px;
}

.form_input{
  width: 98%; 
  height: 30px; 
  border: 1px solid; 
  border-radius: 3px; 
  border-color: gray;
}

.form_item_name{
  color: gray;
}

.form_text_alert{
  height: 20px;
}

.form_text_alert_padding{
  padding-bottom: 10px;
}

.form_submit_button{
  width: 100%; 
  height: 44px; 
  background-color: rgb(83, 154, 236); 
  border: 1px; 
  border-radius: 3px; 
  color: white; 
  font-size: 17px; 
  font-weight: 500;
}

.sign-in {
  display: table-cell;
  vertical-align: middle;
  width: 380px; 
  height: 62px; 
  border: solid 1px #000;
  border-radius: 3px; 
  text-align: center;
}

.sign-up .desc {
  text-align: center;
}

footer{
  /* background-color: blueviolet; */
  text-align: center;
  font-size: 12px;
  color: gray;
  width: 100%;
  height: 20vh; 
}